body {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.65em;
	color: #4d4d4d;
	background: #f7f7f7;
	text-rendering: optimizeLegibility;

    font-family: 'Roboto', sans-serif;
    height: 100%

}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	position: absolute;
	top: 0; right: 0;bottom: 0; left: 0;
	width: 80%;	
}

.mt {
	margin-top: 4rem;
}

.mr {
	margin-right: 1rem
}

h1 {
	font-weight: bolder;
	color: #23272a;
}

.direccion {
	line-height: 20px
}

div.align-center {
	line-height: 20px
}

i {
	color: black
}

i:hover {
	color: red;
	cursor:pointer;
}